/**
Yellow-gorse: #FFE001;
Blue-torea bay:#10245C;
NEGRO-mosaic:#28323C;
DORADO-gold:F9CC01;
DORADO-2-barleycorn:#B28D52;
**/

*{
	box-sizing: border-box;
}
body{
	background: #F0F5F9;
}
.header , .footer{
	color: #FFE001;
	background: #28323c;
	padding: 25px;
}
.header h1{
	float: right;
}
.header img{
	height: 80px;
	padding:0;
	margin-top:0;
}
.column{
	float: left;
	padding: 15px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: table;
	
}
.content{
	width: 75%;
	background: white;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 15px;
}
/*menu*/
.menu{
	width: 25%;
}
.menu a{
	text-decoration: none;
	padding: 8px;
	margin-bottom: 8px;
	background: #10245C;
	color: #FFE001;
	display: block;
	font-weight: bold;
}
.menu a:hover{
	background: navy;
	color: tomato;
}
/*buttom up page*/
.up a{
	text-decoration: none;
	padding:15px;
	border-radius: 25px;
	margin: 10px;
	background: tomato;
	color: white;
	position: fixed;
	bottom: 0;
}
.up a:hover{
	background:blue;
	color:#FFE001;
}
/*Player's table*/
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	background: #10245C;
	color: #FFE001;
}

tr{
	background: white;	
}
tr:nth-child(even){
	background: #F0F5FA;
}
tr:hover{
	background: silver;
}